{% extends "base.html.j2" %}
{% block head %}
{{ super() }}
<title>Hub Placer</title>
{% endblock %}

{% block body %}
<div class="container">
    <form target="_blank" action="http://localhost:5000/hub" action="POST" enctype='application/json'>
        <label for="_id">_id</label>
        <input type="text" class="form-control" name="_id">

        <label for="name">Name</label>
        <input type="text" class="form-control" name="name">

        <label for="short">Short Description</label>
        <input type="text" class="form-control" name="short">

        <label for="long">Long Description</label>
        <input type="text" class="form-control" name="long">

        <label for="stories">Stories Linked</label>
        <input type="text" class="form-control" name="stories">

        <label for="hubs">Hubs Linked</label>
        <input type="text" class="form-control" name="hubs">

        <label>Visibility</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="visibility" id="visibility1" value="always">
            <label class="form-check-label" for="visibility1">
                Always
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="visibility" id="visibility2" value="never">
            <label class="form-check-label" for="visibility2">
                Never
            </label>
        </div>
        <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="visibility" id="visibility3" value="conditional" checked>
            <label class="form-check-label" for="visibility3">
                Conditional
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{{ super() }}
{% endblock %}