{% extends "base.html.j2" %}
{% block head %}
{{ super() }}
<title>Story Viewer</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <h1>Story Viewer</h1>
        <div class="row">
            <div class="col-xl">
                <h2>Story Id: {{ story._id }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xl">
                <h2>Story Name: {{ story.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <h2>Short Description</h2>
                <p id="short_desc">{{ story.short }}</p>
                <h2>Visibility</h2>
                <p id="visibility">{{ story.visibility }}</p>
                <h2>Trades Available</h2>
                <p id="trades">{{ story.trades }}</p>
                <h2>Stories Available</h2>
                <p id="stories">{{ story.stories }}</p>
            </div>
            <div class="col-md">
                <h2>Long Description</h2>
                <p id="long_desc">{{ story.long }}</p>
            </div>
            <div class="col-md">
                <h2>Images</h2>
                <img id="image_small" src="{{ story.image_small }}"/>
                <img id="image_large" src="{{ story.image_large }}"/>
            </div>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}