<div class="container">
  <div class="jumpbotron">
    <h1 class="display-4">Barter Engine Client</h1>
    <p class="lead">A tagline, maybe a short summary or foreshadowing</p>
    <hr class="my-4">
  </div>
  <div *ngIf="!authData['loggedIn']" class="container">
    <app-login-page [authData]="authData"></app-login-page>
  </div>
  <div *ngIf="authData['loggedIn']" class="container">
    <div class="row">
      <app-hub-viewer [playerData]="playerData"></app-hub-viewer>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-inventory [playerData]="playerData"></app-inventory>
      </div>
      <div class="col-md-6">
        <app-story-viewer [playerData]="playerData" [testData]="testData"></app-story-viewer>
      </div>
    </div>
    <div class="row">
      <p>{{playerData | json}}</p>
    </div>
    <div class="row">
      <p>{{testData | json}}</p>
    </div>
  </div>
</div>